body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eeededa9;
}

.box {
    width: 750px auto;
    height: 430 px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #A5B3C0;
    text-align: left;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #8a95a0;
}

.box h1 {
    color: #1B4A84;
    font-weight: 500;
    padding-left: 30px;
    
}

.box p {
    color: #1B4A84;
    padding-left: 28px;
}

.box hr {
    background-color: black;
    align-items: center;
}

.box input[type = "email"] {
    border: none;
    background: #FFFEFE;
    display: block;
    margin: 20px 30px;
    border: 2px solid #fffeff;
    padding: 8PX 5PX;
    width: 300px;
    
    outline: none;
    color: #A39F9F;
    border-radius: 8px;
    transition: 0.25s;

}


.box input[type = "email"]:focus {
    width: 300px;
    background: #1B4A84;
    color: #FFFEFE;
}

.box input[type = "submit"] {
    border: none;
    background: #1b4a84;
    display: block;
    margin: 20px 30px;
    border: 2px solid #1b4a84;
    padding: 8PX 10PX;
    width: 315px;
    outline: none;
    color: #fffeff ;
    font-size: large;
    border-radius: 8px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    width: 315px;
    background: #FFFEFE;
    color: #1b4a84 ;
}

