.headerNav{
    background: #A5B3C0;
}

.regButton, .supButton,.preButton{
    background: #1b4a84 !important;
    border: 2px solid #1b4a84 !important;
    outline: none !important;
    border-radius: 5px;
}

.regButton:hover, .supButton:hover,.preButton:hover{
    background:#0e335f !important;
    border: 2px solid #0e335f !important;
    outline: none !important;
}

.regButton:focus, .supButton:focus,.preButton:focus{
    box-shadow: none !important;
    outline: none !important;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
    .supButton{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}